{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "login.css" %}' />
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button class='loginButton' type="submit">Login</button>
    </form>
    <a class='registerButton' href="{% url 'signup' %}">Register</a>
</body>
</html>